@media (max-width: 769px) {
    .Grid{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
  
  @media (max-width:475px) {
  
    .Container{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 330px 330px 330px;
        grid-gap: 15px;
        grid-auto-flow: row;

    }
  }
  